<div class="form-control">
    <input type="text" placeholder="Search Post..." [(ngModel)]="searchPost"  >
</div>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Author</th>
      <th>Title</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody *ngFor="let post of posts | search: searchPost ; let idx = index " >
    <tr>
      <td>{{ idx + 1 }}</td>
      <td>{{ post.author }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.date | date }}</td>
      <td>
        <button
          class="btn btn-link open "
          [routerLink]="['/admin', 'post', post.id, 'edit']"
          routerLinkActive="router-link-active"
        >
          Open the Post
        </button>
        <a (click)="removePost(post.id)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
